{% extends "base.html" %}

{% block head %}
    <title>{{ name }} Standings</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
{% endblock %}

{% block content %}
{% for type in standings %}
        <div class="row" id="{{ type }}">
        <p><h1 class="muted">{{ type }}</h1></p>
        <p>
          {% for type, id, entname, standing in standings[type] %}
          <img src="http://image.eveonline.com/{{ type }}/{{ id }}_64.png" title="{{ entname }} ({{ standing }})"></li>
          {% endfor %}
        </p>
        </div>
{% endfor %}
{% endblock %}
